# Ignore all obsidian config
.obsidian/

# Ignore all PDF files
*.pdf

# Ignore all Image files
*.png
*.jpg
*.jpeg

scratch.md

# Ignoring organize-footnotes.y output
article_output.md
sources_output.md
citation-mismatch.md

# Compiled python files
*.pyc
